@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-color: black;
}

header {
  z-index: 10001 !important;
}

.btn-primary {
  @apply bg-brandPrimary text-white  py-2 px-4 transition-all duration-300 rounded  hover:bg-neutralSilver hover:border border-white hover:-translate-y-2;
}
.banner-main-section {
  @apply my-28 md:my-8 py-12 flex flex-col w-full mx-auto md:flex-row-reverse items-center justify-between gap-12  bg-cover  rounded-xl;
}
.banner-main-heading {
  @apply text-3xl sm:text-4xl mb-4 font-semibold text-neutralDGrey md:w-3/4 leading-snug md:text-5xl;
}

.lan-info {
  @apply text-2xl text-neutralDGrey font-semibold text-center;
}
